div.basket-page-form
    .basket-form__title 1.Ваш город
    .form-row

      .search-form.search-form--basket
        input.search-form__input.form-item.form-item--text(type='text' name='city' placeholder='' data-validation='{"message": "Обязательное поле"}' required='' value='Ростов-на-Дону')
        button.search-form__clear.input__clear_visibility_visible.btn.btn--medium(type='button')
      label.form-item-label(for='city') Ваш город

    .form-row
      .basket-form__title 2. Доставка
        //- .basket-form__title 2. Доставка

      //- .accordion1.accordion--basket-page
      //-   .accordion-item
      //-     .accordion-item-heading
      //-       | Из магазина  
      //-       br
      //-       | Бесплатно
      //-     .accordion-item-content1.show(style="display: block; opacity: 1;")
      //-       ul.basket__pickup
      //-         each item in pickupItems
      //-           li
      //-             label.form-radio
      //-               input.form-item.form-item--radio(type='radio' name='product')
      //-               .form-radio__item
      //-                 .basket__pickup-metro= item.metro
      //-                 .basket__pickup-address= item.address
      //-                 .basket__pickup-data= item.data
      //-                 .basket__pickup-payment= item.payment
          //- a.link.link--gray_border.small.ml-30px(href='#show-on-map-popup' data-popup='{"type":"inline"}') Показать на карте
          //- include ../map


      .filter-row.filter-row-click
          .filter-row__inner.filter-row__inner--first
            label.form-radio
              .filter-row__radio-coll
                input.form-item.form-item--radio.hidden-radio(type='radio' name='pickup')
                div 
                  | Из магазина  
                  br
                  | Бесплатно
              
              
            .filter-row__content(style='display: block;')
                ul.basket__pickup
                  each item in pickupItems
                    li
                      label.form-radio
                        input.form-item.form-item--radio(type='radio' name='product')
                        .form-radio__item
                          .basket__pickup-metro= item.metro
                          .basket__pickup-address= item.address
                          .basket__pickup-data= item.data
                          .basket__pickup-payment= item.payment

      .filter-row.filter-row-click
          .filter-row__inner
            label.form-radio
              .filter-row__radio-coll
                input.form-item.form-item--radio(type='radio' name='pickup')
                div Курьерска служба СДЭК с бесплатной примеркойот 160  Р
              .filter-row__text-coll Примерка 15 минут. Если после примерки не подошла вещь, вы можете вернуть её курьеру. 
            .filter-row__content 
                div.mb-30px
                  | Примерка 15 минут. Если после примерки не подошла вещь, вы можете вернуть её курьеру. Возврат денежных средств будет осуществлен в течений 1-7 рабочих дней.
                div.bold.mb-10px  Куда доставить заказ?
                div.mb-30px
                  .search-form.search-form--basket
                    input.search-form__input.form-item.form-item--text(type='text' name='city' placeholder='' data-validation='{"message": "Обязательное поле"}' required='' value='Москва, ул. Ленина, 44, кв. 23')
                    button.search-form__clear.input__clear_visibility_visible.btn.btn--medium(type='button')

                a.link-more.link-more-js(href="#")  Добавить комментарий к заказу
                .v-hidden
                  div.mt-30px 
                    textarea.form-item--textarea.w-100(name="" cols="30" rows="10") 

      .filter-row.filter-row-click
          .filter-row__inner
            label.form-radio
              .filter-row__radio-coll
                input.form-item.form-item--radio(type='radio' name='pickup')
                div Пункты выдачи СДЭК
                  br 
                  |  от 238 Р
              .filter-row__text-coll Доставка заказа в один из пунктов самовывоза компании СДЭК.
            .filter-row__content
                div.bold.mb-10px  Куда доставить заказ?
                div.mb-30px
                  a.btn.btn--medium(href='#checkout-popup' data-popup='{"type":"inline"}')  ВЫБРАТЬ ПУНКТ ВЫДАЧИ            
            //-     div.mb-30px
            //-       | Примерка 15 минут. Если после примерки не подошла вещь, вы можете вернуть её курьеру. Возврат денежных средств будет осуществлен в течений 1-7 рабочих дней.
            //-     div.bold.mb-10px  Куда доставить заказ?
            //-     div.mb-30px
            //-       .search-form.search-form--basket
            //-         input.search-form__input.form-item.form-item--text(type='text' name='city' placeholder='' data-validation='{"message": "Обязательное поле"}' required='' value='Москва, ул. Ленина, 44, кв. 23')
            //-         button.search-form__clear.input__clear_visibility_visible.btn.btn--medium(type='button')

            //-     a.link-more.link-more-js(href="#")  Добавить комментарий к заказу
            //-     .v-hidden
            //-       div.mt-30px 
            //-         textarea.form-item--textarea.w-100(name="" cols="30" rows="10") 

      .filter-row.filter-row-click
        
          .filter-row__inner
            label.form-radio
              .filter-row__radio-coll
                input.form-item.form-item--radio(type='radio' name='pickup')
                div Пункты выдачи Via Delivery 
                  br 
                  |  от 193 Р
              .filter-row__text-coll Доставка заказов с выдачей на кассе в Пятерочке или в отделениях СберБанка.
            .filter-row__content 
                div.bold.mb-10px  Куда доставить заказ?
                div.mb-30px
                  a.btn.btn--medium(href='#checkout-popup' data-popup='{"type":"inline"}') ВЫБРАТЬ ПУНКТ ВЫДАЧИ

    .form-row
      .form-row__title
        .basket-form__title 2. Контактные данные
        span
          //- a.btn.btn--black.btn--medium.btn--fullwidth(href='#size-popup' data-popup='{"type":"inline"}')
          a.link.link--black_border(href='#auth-form' data-popup='{"type":"inline"}') Уже зарегистрированы?
      .form-row
        .form-group
          .form-group-inner
            .form-group-item.form-group-item--w32
              label.form-label(for='ord_name') Фамилия/Имя/Отчество
              input#ord_name.form-item.form-item--text.form-item--middle(type='text' name='ord_name' required=''  data-validation='{"message": "Обязательное поле"}' placeholder='Фамилия/Имя/Отчество' value1='Фамилия/Имя/Отчество')
            .form-group-item.form-group-item--w32
              label.form-label(for='ord_phone') Телефон
              input#ord_phone.form-item.form-item--text.form-item--middle(type='text' name='ord_phone' required='' data-validation='{"pattern": "phoneRU", "mask": "+7 (999) 999-99-99"}'  placeholder='+7-___-___-___'  )
            .form-group-item.form-group-item--w32
              label.form-label(for='ord_email') Почта
              input#ord_email.form-item.form-item--text.form-item--middle(type='email' name='ord_email' required='' data-validation='{"message": "Укажите корректный e-mail"}', placeholder='petrov@gmail.com' value1='petrov@gmail.com')

    .form-row
      .basket-form__title 3. Оплата
    .form-row.payment-list
        div
          label.form-radio.filter-row-click
            input.form-item.form-item--radio(type='radio' id="payment-card" name='ord_payment' value='card')
            span Банковской картой на сайте
          .v-hidden
              | *Скидка 2% при фактической оплате заказа на сайте.
        div
          label.form-radio.filter-row-click
            input.form-item.form-item--radio(type='radio' id='payment-receipt' name='ord_payment' value='receipt')
            span Оплата при получении
          .v-hidden
              | Оплата производится в момент получения заказа наличными или банковской картой (при предварительном согласовании)
    
    //- button.btn.btn--large.btn--black.btn--fullwidth(type='submit') ОФОРМИТЬ ЗАКАЗ