
.page-inner.page-inner--w1.desktop
  .header-menu
    .header-menu__left
      ul.header-menu__list
        li.header-menu__item.header-menu__item_catalog
          a.header-menu__item-catalog.catalog-open(href='#')
    .header-menu__center
      a.header-logo(href='http://brusnika.ruformat.ru/')
        img(src='../svg/header_logo.png' alt='')
    .header-menu__right(style='min-width: auto;')
      ul.header-menu__list
        li.header-menu__item.header-menu__item_enter
          a.header-login-item(href='login.html')
            span Вход
        li.header-menu__item.header-menu__item_basket
          a.header-basket-item.basket-open(href='#')
            img(src='../svg/basket.svg')
            span.dot