
extends layout/main

block variables
  - var title = 'brand-large'
  - var mainPage = false


block content
  main.page-content
    .page-inner.page-inner--w1.page-inner--mobile_empty
      include modules/filters/filterLarge
    .page-inner.page-inner--w2 
      #catalog-items.big-grid
        include modules/catalog-large 

      //- .big-grid
      //-  .big-grid__item-double-center 
      //-   .catalog
      //-     include modules/slider-prev-watched      