
extends layout/main

block variables
  - var title = 'favorites'
  - var mainPage = false


block content
  main.page-content.page-favorites
      .page-inner.page-inner--w2 
        .favorites__share
          .favorites__count-title Избранное (8)
          //- a.favorites__link(href='#message-log-in' data-popup='{"type":"inline"}') Поделиться
        include modules/favorites 
        section
          .page-inner--w2
            .catalog
              include modules/slider-prev-watched