.order-table
  .row.align-items-end.d-none.d-lg-flex
    .col-lg-6
      span.h2 Товары в заказе
    .col-lg-6
      .row
        .col-md-3
          b Стоимость
        .col-md-6
          b Количество
        .col-md-3
          b Итого
  .h2.mb-3.d-lg-none Товары в заказе
  .row
    .col-4.col-lg-6

      .order-table__item
        .order-table__img
          .order-photo-holder
            img.cover(src=`../dummy/orders/1.jpg`)
        .order-table__info.d-none.d-lg-block
          .order-table__name= `Брюки`
          .order-table__size= `Размер: S`
          .order-table__color= `Цвет: КОРИЧНЕВЫЙ` 

    .col-8.col-lg-6
      .row
        .col-12.d-lg-none
          p Брюки
          b.mr-10 8 990 Р
          | 1 шт.
        .col-lg-3.d-none.d-lg-block 8 990 Р
        .col-lg-6.d-none.d-lg-block 1
        .col-lg-3.d-none.d-lg-block 8 990 Р
  .row
    .col-4.col-lg-6

      .order-table__item
        .order-table__img
          .order-photo-holder
            img.cover(src=`../dummy/orders/2.jpg`)
        .order-table__info.d-none.d-lg-block
          .order-table__name= `Жакет` 
          .order-table__size= `Размер:5`
          .order-table__color= `Цвет: КОРИЧНЕВЫЙ` 

    .col-8.col-lg-6
      .row
        .col-12.d-lg-none
          p Жакет
          b.mr-10 2 390 Р
          | 1 шт.
        .col-lg-3.d-none.d-lg-block 2 390 Р
        .col-lg-6.d-none.d-lg-block 1
        .col-lg-3.d-none.d-lg-block 2 390 Р
  .row.justify-content-between.d-none.d-lg-flex
    .col-auto 
      //- a.link.link--black_border(href="order-cancel.html") Отменить заказ
    .col-md-4
      .row.mb-2
        .col-md-8.right Общий вес: 
        .col-md-4 4, 28 кг
      .row.mb-2
        .col-md-8.right Стоимость доставки: 
        .col-md-4 0 Р
      .row.mb-2
        .col-md-8.right Сумма заказа:
        .col-md-4 11 380 Р
      .row
        .col-md-8.right
          b Всего: 
        .col-md-4 11 380 Р
  .border-top-gray.d-lg-none
    p Общий вес: 4, 28 кг
    p.pt-4 Стоимость доставки: 0 Р
    p Сумма заказа: 11 380 Р
    p
      b Всего: 11 380 Р
