block variables
  - var title = 'Mагазины'
  - var mainPage = false

.filters-block.filters-block-shops.d-block.d-lg-none
  .row.mobile-slider
    each item in shopsFilters
      a.filter-slider__shops-link(href=`${item.href}`)= item.name
.filters-row
  .filters-row__list.d-none.d-lg-block
    +listShopFiltersDesktop('filters-list', shopsFilters)

  div
    ul.filters-list-small
      li
         span.active Список
      li
        a(href='shop-map.html') На карте
