block variables
  - var title = 'Mагазины'
  - var mainPage = false


.filters-block.d-block.d-lg-none
  .row.mobile-slider
    each item in shopsFilters
      a.filter-slider__shops-link(href=`${item.href}`)= item.name
.filters-row
  .filters-row__list.d-none.d-lg-block
    ul.filters-list
      each item in shopsFilters
        li.filter-slider__shops-list-link
          a(href=`${item.href}`)= item.name
  div
    ul.filters-list-small
      li
         span.active Список
      li
        a(href='shop-map.html') На карте
