#catalog-size-popup.page-popup.mfp-hide 
  .page-popup-heading
    .page-popup-heading-title.center.h1 Таблица размеров
  
    //-    .basket-menu-sections(style='overflow: hidden;')
  include ../menus/size-menu-content 

//-   .basket-menu-sections(style='overflow: hidden;') 
//-       .size-menu__title Таблица размеров
//-    ..............