#change-password-text-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-title.uppercase  Сменить свой пароль
  p
   | Ссылка для восстановления пароля отправлена на ваш e-mail. Проверьте почту.
