#nosms-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-title.uppercase  Не приходит sms

  p Проверьте, что:   
  ul.disc 
    li ваш телефон включён и находится в зоне приёма сети,
    li вы ввели правильный номер телефона или адрес электронной почты.
    li Иногда СМС приходит не сразу. Если смс нет 20 минут, попробуйте получить код ещё раз.