.slider-size 
  .slider-size__title Добавить в корзину
  .slider-size__list 
    ul 
      li 
        a.basket-open(href='#') XS
      li 
        a.basket-open(href='#') S
      li 
        a.basket-open(href='#') M
      li 
        a.basket-open(href='#') L
      li 
        a.basket-open(href='#') XL