block variables
  - var pageName = 'brand-large'

include catalog-large-blocks/one-picture-center

.big-grid__item-one-center-text
    include catalog/static-dress-for-new-season

include catalog-large-blocks/two-pictures-in-row
include catalog-large-blocks/one-picture-center--2
include catalog-large-blocks/three-pictures-in-row
include catalog-large-blocks/one-picture-center--3     
include catalog-large-blocks/one-picture-center--4 
include catalog-large-blocks/double-picture-in-center 
include catalog-large-blocks/one-picture-center--5 
include catalog-large-blocks/one-picture-center--6 
include catalog-large-blocks/three-pictures-in-row--2
include catalog-large-blocks/one-picture-center--7 
include catalog-large-blocks/two-pictures-in-row--1
include catalog-large-blocks/two-pictures-in-row-with-empty-right
include catalog-large-blocks/one-picture-center--11 
include catalog-large-blocks/four-pictures-in-row
include catalog-large-blocks/one-picture-center--8 
include catalog-large-blocks/two-pictures-in-row-with-empty-right--1
include catalog-large-blocks/one-picture-center--9 
include catalog-large-blocks/one-picture-center--10 
include catalog-large-blocks/double-picture-in-center_alon
    
//- //- -------------- slider-prev-watched -----------------
.big-grid__item-double-center.mlr-0
    .catalog
      include slider-prev-watched   


