.mobile-filter-item-content
    a.link.link--black_border(href='#catalog-size-popup' data-popup='{"type":"inline"}') Как подобрать размер
    //- a.mobile-filter__link.size-open(href='#') Руководство по размерам
    //- a.link.link--black_border.size-open-link(href='#') Как подобрать размер
    //- a.btn.btn--black.btn--medium.btn--fullwidth(href='#size-popup' data-popup='{"type":"inline"}')
    //-   | ДОБАВИТЬ В КОРЗИНУ 
    .wrapper-form-checkbox
      each size in sizes
        label.form-checkbox
          input(class='form-item form-item--checkbox' type='checkbox')
          span.form-checkbox-title= size.name
        label.form-checkbox
            input(class='form-item form-item--checkbox' type='checkbox')
            span.form-checkbox-title= size.growth1
        label.form-checkbox
            input(class='form-item form-item--checkbox' type='checkbox')
            span.form-checkbox-title= size.growth2         