

footer.page-footer(itemscope='' itemtype='http://schema.org/WPFooter')

  if (pageName === 'brand-large')
    .big-grid
      .big-grid__item-double-center.text-left
        include footer-inner 
  else
    .page-inner.page-inner--w2
      include footer-inner 
