

footer.page-footer(itemscope='' itemtype='http://schema.org/WPFooter')
  .page-inner.page-inner--w2 

    .footer-bottom
      .footer-bottom__left
        ul.footer-bottom__list
          li
            a(href='#') Политика конфиденциальности
          li
            a(href='#') Оферта
      //- .footer-bottom__center
      //-   a(href='#') ©2022 Brusnika
      .footer-bottom__right
        | Разработка сайта — RUFORMAT®



