.catalog
  .row.justify-content-between.align-items-center
    .col-auto
      .title-block Вам также может понравиться

    .d-none.d-lg-block
      include four-cards

  .catalog-items.row.catalog-items--slider.mlr--20px.d-block.d-lg-none

    each item in fourCards
      .col-md-2
        .catalog-item.w2
          .catalog-item-photo-holder
            img.cover(src=`../dummy/catalog/${item.image}`)

          .catalog-item-title.justify-content-between= item.name

          .catalog-item-price= item.price + ' РУБ.'
            .catalog-item-labels
              .catalog-item-label.black Хит            

          a.catalog-item-link(href='card.html')
          button.catalog-item-like(type='button') 