@import '../variables';

.basket-page-form {
  max-width: 718px;

}

.search-form--basket {

  &:before {
    content: none;
  }

  .search-form__input {
    padding-left: 15px !important;
  }
}

.accordion--basket-page:has( .opened){
  border: 1px solid #000;
}


.accordion--basket-page {
  padding: 0 24px;
  border: 1px solid $color-gray-two;

  .accordion-item {
    border: none;
  }


  .accordion-item-heading {
    text-transform: none;

    &::after,
    &::before {
      content: none;
    }
  }
}

.basket__pickup {

  li {
    margin-bottom: 43px;
  }

  .form-radio {
    align-items: flex-start;

    &>span {
      top: 2px;
    }
  }

}

.basket__pickup-metro {
  font-weight: bold;
}

.basket__pickup-data {
  margin-top: 5px;
}

.basket__pickup-payment {
  margin-top: 15px;
}

.filter-row {
  border: 1px solid $color-gray-two;
  margin: 10px 0;

  &__form-radio {
    display: flex;

    @media screen and (max-width:480px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__radio-coll,
  &__text-coll {
    display: flex;
    flex: 1;
  }

  // &__radio-coll {}

}


.filter-row:has( .opend){
  border: 1px solid #000;
}

.filter-row__content {
  margin-top: 20px;
  margin-left: 20px;

  @media screen and (max-width:480px) {
    margin-left:0px;
  }
}

.filter-row__inner .filter-row__content {
  display: none;
}
.filter-row__inner.opend .filter-row__content {
  display: block;
}

// ---------прячем чекбокс у раскрытогопункта с  адресами самовывоза------------------------------
// .filter-row__inner.opend .jcf-radio:has( .hidden-radio){
//   display: none;
// }

// .opend .v-hidden {
//   visibility: visible; 
// }


