@import '../variables';


.history {

    // .page-heading {
    //     border:1px solid green;
    // }

    .order-row { 
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #E1E1E1;

        &__images,
        &__btns {
            display: flex;
        }

        &__images {
            gap: 10px;

            .order-photo-holder {
                position: relative;
                width: 65px;
                height: 97px;
            }
            @media screen and (max-width: 600px) { 
                width: 100%;
                margin-bottom: 20px;
            }            
        }
        &__btns {
            gap: 40px;
            align-items: baseline;

            @media screen and (max-width: 600px) { 
                flex-direction: column;
                width: 100%;
                align-items: center;

                .btn {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            width: 100%; 
        }
    }


    .order-item-sub-title {
        display: flex;
        gap: 15px;
        margin-bottom: 22px;

        .price {
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
        }

        @media screen and (max-width: 600px) { 
            flex-direction: column;
            gap: 5px;
        } 
    }

    .tabs-content-item {
        display: none;
    }
    .tabs-content-item.active {
        display: block;
    }

    .tabs-heading { 
        justify-content: inherit;
        margin-bottom: 100px;

        @media screen and (max-width:768px) {
            margin-bottom: 20px; 
        }
    }

    .tab-heading-item {
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;

        @media screen and (max-width:768px) {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;            
        }
    }

    .tabs-heading .tab-heading-item,
    .tabs-heading .tab-heading-item.active {
        border: none;
    }

    .tabs-heading .tab-heading-item {
        padding: 7px 20px 7px 0;
        min-width:auto;
    }

    .tabs-heading .tab-heading-item.active {
        font-weight: bold;
    }

}


@media screen and (min-width:768px) {
    
    .border-md-top-gray {
        border-top: 1px solid #E1E1E1;
    }
}