each item in catalogStaticDress
  .catalog-item-text
    .catalog-item-text__title= item.title
    .catalog-item-text__lid= item.lid
    a.link-more.link-more-js(href=`${item.href}`) Подробнее
    //- div.v-hidden= item.text
    div.d-none= item.text