.history.position-lg-top-100px
  .tabs
    .tabs-heading
      .tab-heading-item.active(data-tab='#current_orders' data-tabs='.orders') Текущие заказы (2)
      .tab-heading-item(data-tab='#history_orders' data-tabs='.orders') История заказов (2)
    .tabs-content
      #current_orders.tabs-content-item.orders.active 
        
          .order-items
            .order-item.p-0
              .order-item-title Заказ № 21112 от 03.02.2021
              .order-item-sub-title 
                |  Сумма заказа
                .price 19 000 РУБ.
                | Ожидается доставка

              .order-row 
                .order-row__images 
                  .order-photo-holder
                    img.cover(src='../dummy/orders/1.jpg')
                  .order-photo-holder
                    img.cover(src='../dummy/orders/2.jpg')
                .order-row__btns 
                  span
                    a.link.link--black_border.nowrap(href="orders.html") Отследить заказ
                  a.btn.btn--medium.btn--black.nowrap(href='last-order.html') Подробнее о заказе

          .order-items
            .order-item.p-0
              .order-item-title Заказ № 21110 от 04.05.2021
              .order-item-sub-title 
                |  Сумма заказа
                .price 29 000 РУБ.
                | Ожидается доставка

              .order-row 
                .order-row__images 
                  .order-photo-holder
                    img.cover(src='../dummy/catalog/c9.jpg')
                  .order-photo-holder
                    img.cover(src='../dummy/catalog-large/c2.png')
                .order-row__btns 
                  span
                    a.link.link--black_border.nowrap(href="orders.html") Отследить заказ
                  a.btn.btn--medium.btn--black.nowrap(href='last-order.html') Подробнее о заказе

      #history_orders.tabs-content-item.orders 
          //- - for (var x = 0; x < 2; x++)
          .order-items
            .order-item.p-0
              .order-item-title Заказ № 21112 от 03.02.2021
              .order-item-sub-title 
                |  Сумма заказа
                .price 19 000 РУБ.
                | Ожидается доставка

              .order-row 
                .order-row__images 
                  .order-photo-holder
                    img.cover(src='../dummy/orders/1.jpg')
                  .order-photo-holder
                    img.cover(src='../dummy/orders/2.jpg')
                .order-row__btns 
                  span
                  a.btn.btn--medium.btn--black(href='last-order.html') Подробнее о заказе

          .order-items
            .order-item.p-0
              .order-item-title Заказ № 21110 от 04.05.2021
              .order-item-sub-title 
                |  Сумма заказа
                .price 29 000 РУБ.
                | Ожидается доставка

              .order-row 
                .order-row__images 
                  .order-photo-holder
                    img.cover(src='../dummy/catalog/c9.jpg')
                  .order-photo-holder
                    img.cover(src='../dummy/catalog-large/c2.png')
                .order-row__btns 
                  span
                  a.btn.btn--medium.btn--black(href='last-order.html') Подробнее о заказе
