.order-items.position-lg-top-100px
  .order-item.noborder
    .mb-5.d-none.d-lg-block
      a.link.link--black_border(href='orders.html') Вернуться в текущие заказы
    .order-item-title.h2.mb-4 Заказ № 21112 от 03.02.2021, 2 товара на сумму 11 380 Р
    .order-item-info.row.mb-3
      .col-md-3.mb-4.mb-lg-0
        p
          b Статус
        p Принят, ожидается оплата
      .col-md-3.mb-4.mb-lg-0
        p
          b Сумма заказа
        p
          | 11 390 Р
          br
          | Cпособ оплаты: Онлайн картой на сайте
      .col-md-3.mb-4.mb-lg-0
        p
          b Дата доставки
        p 07.03.2022
      .col-md-3
        p
          b Доставка
        p Пункт выдачи посылок СДЭК Ростов-на-Дону, ул. Ленина, 44
    .d-none.d-lg-block
      .row.justify-content-between.align-items-center.mb-5
        .col-auto
        .col-md-3
          a.btn.btn--medium.btn--black(href='#') ПОВТОРИТЬ ЗАКАЗ
    .d-lg-none
      .row.mt-5
        .col-12.mb-4
          a.btn.btn--medium.btn--black.btn--fullwidth(href='#') ПОВТОРИТЬ ЗАКАЗ
        .col-12.center
          a.link.link--black_border(href='order-cancel.html') Отменить заказ
    hr
    .order-item-title.h2.mb-3 Параметры оплаты
    .mb-4
      b Счёт № 21112 от 03.02.2021
      //- span.badge.red Не оплачено
    .order-item-info.row.mb-2
      .col-md-3.mb-4.mb-lg-0
        p
          b Сумма к оплате по счёту
        p 11 390 Р
      .col-md-3.mb-4.mb-lg-0
        p
          b Способ оплаты
        p Картой или наличными при получении
    //- a.link.link--black_border(href='#') Сменить способ оплаты
    hr
    .order-item-title.h2.mb-3 Параметры отгрузки
    .mb-4
      b Отгрузка № 21112 от 03.02.2021, самовывоз
    .order-item-info.row.mb-5
      .col-md-3.mb-4.mb-lg-0
        p
          b Служба доставки
        p
          | Пункт выдачи посылок СДЭК
          br
          | Ростов-на-Дону, ул. Ленина, 44
      .col-md-3.mb-4.mb-lg-0
        p
          b Статус отгрузки
        p Ожидает обработки
      .col-md-3
        p
          b Стоимость доставки
        p 0 Р

    include ../orders/items-in-order     
