//- 2 картинки в ряд
.big-grid__item-two-center-left 
    .catalog-item.w2.m-0
      .catalog-item-photo-holder
        img.cover(src='./../dummy/collection/c2.png')
        

.big-grid__item-two-center-right 
    .catalog-item.w2.m-0
      .catalog-item-photo-holder
        img.cover(src='./../dummy/collection/c3.png')
        
